@import '../variables.css';

@media screen and (max-width: 480px) {
  .container {
    text-align: left;
    width: 90%;
  }
  
  .survey {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 860px) {
  .survey {
    width: 70%;
  }
  
  .container { 
    text-align: center;
    width: 90%;
  }
}

@media screen and (min-width: 861px) {
  .container { 
    text-align: center;
    max-width: var(--max-content-width);
  }
  
  .survey {
    width: 40%;
  }
}

.container {
  margin: 20px auto 0;
  padding: 20px 8px;
  font-size: 1.5em;
}

h2 {
  font-family: "Lora";
  margin: 0 0 10px;
}

h6 {
  font-family: "Lora";
  font-size: 0.7em;
  font-weight: lighter;
  line-height: 1.5;
  margin: 0;
}

.survey {
  margin: 20px auto 0;
}

textarea,
input {
  width: 100%;
  margin-bottom: 5px;
  font-size: 0.6em;
  color: #3C3C43; 
  padding: 10px 0 10px 10px;
  border: 1px solid black;
}

.button {
  width: 100%;
  background-color: #3C3C43;
  border: 1px solid #3C3C43;
  color: white;
  font-family: "Lora";
  font-size: 0.7em;
  margin-top: 5px;
  padding: 7px 0;
}

.button:hover {
  background-color: white;
  color: #3C3C43;
  border: 1px solid #3C3C43;
  cursor: pointer;
}