@import '../../../components/variables.css';

.navigation p,
.navigation a {
  font: 16px "Open Sans";
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 20px;
}

.navigation a:hover {
  color: darkred;
}

@media screen and (max-width: 860px) {
  .navigation {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .navigation p {
    width: 100px;
  }
  
  .navigation a,
  .navigation p {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  .decorImages img,
  .decorGroup img {
    margin-bottom: 12px; 
  }
  
  .decorImages,
  .decorGroup,
  .decorGroup img {
    max-width: 480px;
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 861px) {
  .decorImages {
    width: 65%; 
    float: right;
    display: inline-flex;
    justify-content: space-between;
  }
  
  .navigation {
    width: 50%;
    margin-left: 35%;
    display: flex;
  }
  .imgMargin {
    margin-bottom: 12px;
  }
  
  .decorGroup {
    height: 100%;
  }
  
  .decorGroup:nth-child(1) {
    width: 31%;
  }

  .decorGroup:nth-child(2){
    width: 20%;
  }

  .decorGroup:nth-child(2) img{
    width: 100%;
  }

  .decorGroup:nth-child(3) {
    width: 42%;
  }

  .decorGroup:nth-child(3) img{
    width: 100%;
  }
}