@import '../variables.css';

@media screen and (max-width: 860px) {
  .blockstyle {
    margin: 0 auto;
    display: block;
    justify-content: center;
  }
  
  .aboutImage {
    max-width: 480px;
    width: 100%;
    max-height: 320px;
    height: auto;
    margin-top: 50px;
  }
  
  .link {
    display: block;
  }
  
  .underlined {
    display: inline-block;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 861px) {
  .blockstyle {
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  
  .aboutImage {
    max-height: 530px;
    width: auto;
  }
  
  .textblock {
    padding-left: 40px;
  }
  
  .inline {
    display: flex;
  }
}

.textblock {
  font: 18px "Open Sans";
}

.inline {
  margin-top: 10px;
}

.link {
  text-decoration: none;
  padding-right: 20px;
}

.underlined {
  border-bottom: 2px solid #3C3C43;
  padding: 5px 0;
}

.underlined:hover,
.underlined:active {
  border-bottom-color: darkred;
  color: darkred;
}

.grey {
  color: #4F4F4F;
  font-size: 48px;
  font-family: 'Lora';
  font-weight: bold;
}

p {
  padding-bottom: 10px;
  line-height: 1.42em;
}