@import '../variables.css';

@media screen and (max-width: 860px) {
  .contacts,
  .contactButton,
  .lang {
    display: none;
  }
  
  .hamburger {
    width: 50px;
    padding-top: 7px;
  }
  
  .hamburgerBar {
    height: 3px;
    background-color: black;
    width: 80%;
    margin: 5px auto;
  }
}

.root {
  margin: 0 auto;
  padding: 20px 0;
  background: #ffffff;
  color: black;
  border-bottom: 3px solid #E5E5E5;
}

.container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.brand {
  text-decoration: none;
  font-size: 36px;
  font-family: "Lora";
  font-weight: bold;
  width: 40%;
  margin: auto 0;
}

.brand:active,
.brand:hover {
  opacity: 0.4;
}

.contacts {
  font: 24px Roboto;
}

.contactsMessage {
  font-size: 16px;
}

.contactButton {
  text-decoration: none;
  font-weight: bolder;
  margin: auto 0;
}

.button {
  border: 1px solid black;
  padding: 15px 30px;
}

.button:active,
.button:hover {
  background-color: #3C3C43;
  color: white;
}

.hamburger:hover, 
.hamburger:active {
  opacity: 0.4;
}